# Ignore .env files in backend and frontend folders
backend/.env
mobileApp/.env

# Node.js specific items
backend/node_modules/
mobileApp/node_modules/
npm-debug.log

# Logs
logs/
*.log

# Dependency directories
bower_components/

# Production build
dist/
build/

# IDE files
.vscode/
.idea/
*.swp
